# Created by .ignore support plugin (hsz.mobi)
### Python template
__pycache__/
*.py[cod]
*$py.class

# dotenv
.env
# virtualenv
venv/
ENV/
# Virtualenv
.venv
# mpeltonen/sbt-idea plugin
.idea_modules/



